<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe</title>
</head>
<body>
    <nav>
        <header>Add New Recipe</header>
        <h1>These are the recipes</h1>
        <a href="/result/">Dashboard</a>
        <a href="/logout">Log out</a>
    </nav>
    <form class="box" action="/create" method='post'>
        {% with messages = get_flashed_messages(with_categories=true) %}     <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
                {% for catagory, message in messages %}
                    {% if catagory == 'name' %}     <!-- loop through the messages -->
                        <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <input type="text" id="name" name="name" placeholder="Name">
        <input type="text" id="description" name="description" placeholder="description">
        <input type="text" id="instruction" name="instruction" placeholder="instruction">
        <label for="start">Start date:</label>
        <input type="date" id="time" name="date_made_on" min="2018-01-01" max="2030-12-31">
        <p>Under 30 Minutes?</p>
        <div class="group">
            <input type="radio" id="group" name="time" value="Yes">
            <label for="time" >Yes</label>
            <input type="radio" id="group" name="time" value="No">
            <label for="time">No</label>
        </div>
        <button id="btn1">Create</button>
    </form>
</body>
</html>